$mainColor: #237023;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $mainColor;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 60px;
}

header {
    font-family: 'Tilt Neon', cursive;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.b06 {
    transform: translateZ(-60px) scale(2.1);
}

.b05 {
    transform: translateZ(-35px) scale(1.9);
}

.b04 {
    transform: translateZ(-30px) scale(1.5);
}

.b03 {
    transform: translateZ(-20px) scale(1.3);
}

.b02 {
    transform: translateZ(-10px) scale(1.4);
}

.b01 {
    transform: translateZ(-10px) scale(1.2);
}

.b01,
.b02,
.b03,
.b04,
.b05,
.b06 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
}

.b01-dark,
.b02-dark,
.b03-dark,
.b04-dark,
.b05-dark,
.b06-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.light {
    display: none;
}

.dark {
    display: none;
}

.parallax-menu {
    text-align: center;

    &__img {
        margin: 0 auto 20px;
    }

    &__subtitle {
        color: #fff;
    }

    &__button {
        display: block;
        width: 400px;
        height: 60px;
        margin-top: 20px;
        font-size: 24px;
        background-color: $mainColor;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .5s ease;

        &:hover {
            background-color: lighten($mainColor, 10%);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transform: scale(1.05);
        }
    }

    &__arrow {
        width: 60px;
        margin-top: 40px;
    }
}

.section {
    font-size: 1.5em;
    padding: 2em;
    background-color: #5d9140;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236fb349' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.description {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 12%;
    width: 80%;
    margin: 7% auto;
    color: #fff;

    &__img img {
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: rotate(-5deg);
    }

    &__text {
        text-align: justify;
        text-justify: inter-word;
        & h2 {
            margin-bottom: 20px;
        }
    }
}

.socialmedia-footer {
    text-align: center;
    padding: 50px;
    color: #fff;
    background-color: #181818;

    & img {
        width: 60px;
        margin-bottom: 10px;
    }

    & a {
        color: $mainColor;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1100px) {
    .parallax-menu {
        width: 90%;
        margin-top: 10px;

        &__img {
            width: 4em;
            margin-bottom: 10px;
        }

        &__button {
            width: 90%;
            margin: 20px auto;
            background-color: rgba(35, 112, 35, 0.6);

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transform: none;
                background-color: rgba(35, 112, 35, 0.6);
            }
        }

        &__arrow {
            margin-top: 0;
        }
    }

    .section {
        font-size: 1.2em;
        padding: 1em;
    }

    .description {
        display: block;
        width: 95%;

        &__img img {
            transform: none;
            width: 200px;
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__text {
            & h2 {
                text-align: center;
            }
        }
    }
}