* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Indie Flower', cursive;
}

/* night 
background-color: #000055;
background-image: url(./bg4.png);
background-repeat: repeat-x;
*/

body {
    background-color: #ffffff;
}

.bg {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 70px auto;
}

header {
    text-align: center;
}

.horario {
    margin-top: 30px;
    color: #000000;
}

main {
    margin-top: 30px;
}

.buttons {
    text-align: center;
}

button {
    background-color: #0da72e;
    color: #fff;
    max-width: 500px;
    width: 90%;
    height: 60px;
    margin: 10px 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.char {
    text-align: center;
}

footer {
    color: #000000;
    margin-top: 30px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    button:hover {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
        transform: translateY(-7px);
    }
}