.footer {
    background-color: #212221;
    margin-top: 100px;
    text-align: center;
    padding: 20px;

    .footer-img {
        width: 200px;
    }
}

#footer__text {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
    color: #fff;

    & a {
        color: #5f5f5f;

        &:hover {
            text-decoration: underline;
        }
    }
}

#footer__logo {
    margin: 10px auto;
}

.empty-bottom {
    display: none;
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 4px;
    }

    .empty-bottom {
        display: none;
        height: 80px;
    }
}