.hero {
    margin-top: 80px;
    min-height: 100vh;
    background-image: url(../images/hero1.jpg);
    background-size: cover;
    text-align: center;

    &__content {
        display: inline-block;
        max-width: 500px;
        width: 100%;
        margin-top: 10%;
        color: #fff;
        font-size: 20pt;
        text-shadow: 2px 2px 4px #404040;

        & img {
            width: 80%;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14pt;
    }

    header a {
        font-size: 10pt;
    }

    .menu-right {
        width: 180px;
    }

    .menu-button {
        width: 20px;
    }

    .hero {
        min-height: 600px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-content {
        margin-top: 30%;
    }
}