.hero {
    margin-top: 80px;
    min-height: 100vh;
    background-image: url(../images/hero1.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    position: relative;

    &__content {
        display: inline-block;
        max-width: 700px;
        width: 100%;
        margin-top: 7%;
        color: #fff;
        font-size: 20pt;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.938);

        & .welcome {
            width: 80%;
            display: none;
        }

        & .intro {
            display: none;
        }
    }

    .paper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14pt;
    }

    header a {
        font-size: 10pt;
    }

    .menu__right {
        width: 180px;
    }

    .menu__button {
        width: 20px;
    }

    .hero {
        min-height: 600px;
    }
}