.covers {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 1.5em;
}

.pf-cover {
    width: 320px;
    height: 320px;
    padding: 20px;
    font-size: 2em;
    font-family: 'Fredoka One', cursive;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-shadow: 1px 1px 2px black;
    border-radius: 6px;
    transition: all .5s;
    background-size: cover;

    &:hover {
        //transform: translateY(-7px);
        transform: scale(1.05);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}

#cover1 {
    background-image: url(../images/pf01.jpg);
    color: #fcff39;
}

#cover2 {
    background-image: url(../images/pf02.jpg);
    color: #78e05e;
}

#cover3 {
    background-image: url(../images/pf03.gif);
    color: #b7d890;
}

#cover4 {
    background-image: url(../images/pf04.jpg);
    color: #7fa6f0;
}

#cover5 {
    background-image: url(../images/pf05.jpg);
    color: #ebebeb;
}

#cover6 {
    background-image: url(../images/pf06.jpg);
    color: #e69942;
}

#cover7 {
    background-image: url(../images/pf07.jpg);
    color: #fff;
}

#cover8 {
    background-image: url(../images/pf08.jpg);
    color: #4b3219;
}

@media screen and (max-width: 767px) {

    .covers {
        display: block;
    }

    .pf-cover {
        margin: 20px auto;
        font-size: 34pt;

        &:hover {
            transform: none;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1312px) {
    .covers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pf-cover {
        width: 30vh;
        height: 30vh;
        font-size: 1.7em;

        &:hover {
            transform: none;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}



/*
@media screen and (min-width: 1313px) and (max-width: 1200px) {
    .covers {
        grid-template-columns: auto auto auto;
    }

    .pf-cover {
        width: 300px;
        height: 300px;
        background-size: cover;
    }
}
*/